.company-item {
  margin-left: 0.7em;
  display: block;
  width: 100%;
  background-clip: content-box;
}

.company-item:nth-child(2n + 1) {
  background-color: #fff3f3;
}
.company-item:nth-child(2n) {
  background-color: #f4f3ff;
}

.company-item:hover {
  background-color: #919191;
}

.company-item__link {
  display: block;
  color: #050388;
  padding: 0.5em 0;
}

@media screen and (max-width: 952px) {
  .company-item {
    margin: 0;
    padding: 0;
    width: 45%;
    min-height: 2em;
  }
  .company-item:nth-child(2n + 1) {
    background-color: inherit;
  }
  .company-item:nth-child(2n) {
    background-color: inherit;
  }

  .company-item:hover {
    background-color: #919191;
  }
}

@media screen and (max-width: 364px) {
  .company-item {
    font-size: 0.7em;
  }
}
