.company-item {
  margin-left: 0 0.5em;
  display: block;
  width: 100%;
  background-color: #a1e887;
  /* background-clip: content-box; */
}

.company-item:hover {
  background: linear-gradient(to top, #f1f7ed 0%, #7ca982 100%);
}

.company-item__link {
  display: block;
  color: #050388;
  padding: 0.5em 0;
}

@media screen and (max-width: 952px) {
  .company-item {
    margin: 0;
    padding: 0;
    width: 45%;
    min-height: 2em;
  }

  .company-item:hover {
    background-color: #7ca982;
  }
}

@media screen and (max-width: 364px) {
  .company-item {
    font-size: 0.7em;
  }
}
