.company-list {
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 952px) {
  .company-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
  }
}

@media screen and (max-width: 364px) {
  .company-list {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
