.filter {
  display: flex;
  border: 1px solid #000000;
  min-width: 300px;
  padding: 0.5em;
  border-radius: 1.5em;
  background-color: #ffffff;
}

.filter__input {
  width: 100%;
  border: none;
  outline: 0;
  outline-offset: 0;
  padding: 0.3em 0.5em;
}

.filter__icon {
  /* position: absolute; */
}
