.filter {
  display: flex;
  border: 1px solid #000000;
  flex-grow: 1;
  padding: 0.5em;
  border-radius: 1.5em;
  background-color: #ffffff;
  margin-left: 0.3em;
}

.filter:hover {
  box-shadow: 0.1em 0.1em 0.3em #000000;
}

.filter__input {
  width: 100%;
  border: none;
  outline: 0;
  outline-offset: 0;
  padding: 0.3em 0.5em;
}

.filter span {
  cursor: default;
  user-select: none;
}

@media screen and (max-width: 952px) {
  .filter {
    min-width: 100px;
  }
}
