.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: #b9b5b5;
  border: 1px solid #000000;
}

.header__button {
  min-width: 7em;
  min-height: 2.5em;
  box-shadow: 0.1em 0.1em 0.3em #000000;
  cursor: pointer;
}

.header__caption {
  font-size: 1.5em;
  font-weight: bold;
}
