.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  background-color: #4b4e6d;
  border: 1px solid #000000;
  padding-left: 2em;
}

.header__logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #a1e887;
  text-shadow: 1px 1px 2px #80b192;
}

.header__wrapper {
  min-width: 15em;
  display: flex;
  justify-content: space-between;
  margin-right: 0.3em;
  column-gap: 0.4em;
}

@media screen and (max-width: 952px) {
  .header {
    padding-left: 0;
  }
  .header__wrapper {
    min-width: 9em;
  }
  .header__logo {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .button--save,
  .button--load {
    width: 5em;
    min-height: 2em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 368px) {
  .header__wrapper {
    flex-direction: column;
    min-width: auto;
    row-gap: 0.2em;
  }
}
