.output {
  grid-area: output;
  border: 1px solid #000000;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
}
.output__company {
  margin: 0;
  font-weight: 700;
}

.output__mail {
  display: inline-block;
  margin-top: 0.5em;
}

.output__result span {
  position: relative;
  border: none;
  display: inline-block;
  text-align: center;
  font-weight: 700;
  cursor: default;
  user-select: none;
  margin-left: 1em;
  padding: 0.3em;
  background-color: #caccc4;
  min-width: 4em;
  border-radius: 1em;
  box-shadow: 0 0 15px #646830;
}

.output input {
  outline: 0;
  outline-offset: 0;
  border-radius: 1em;
  font-size: 1.1em;
  padding: 0.2em 1em;
  width: 250px;
  box-shadow: 0 0 30px #220aad;
}

.output input:hover {
  box-shadow: 0 0 30px #1ab306;
}

.output input:focus {
  box-shadow: 0 0 30px #ca0a0a;
}

.output__error {
  font-weight: 700;
  color: #9b0606;
}

@media screen and (max-width: 352px) {
  .output__result span {
    display: block;
    margin: 10px auto;
    width: 100px;
  }
}

.output p {
  font-weight: 700;
}

.output__display {
  font-size: 1.4em;
}
