.output {
  position: relative;
  grid-area: output;
  border: 1px solid #000000;
  padding: 1em;
  overflow: scroll;
  overflow-x: hidden;
  background: linear-gradient(to top, #6a8d92 0%, #80b192 100%);
}

.output__wrapper {
  display: flex;
  flex-direction: column;
}

.output__company {
  margin: 0;
  font-weight: 700;
}

.output__mail {
  display: inline-block;
}

.output input {
  outline: 0;
  outline-offset: 0;
  border-radius: 0.4em;
  font-size: 1.1em;
  padding: 0.2em 1em;
  width: 250px;
  box-shadow: 0 0 30px #71a4e7;
}

.output input:hover {
  box-shadow: 0 0 30px #1ab306;
}

.output input:focus {
  box-shadow: 0 0 30px #ca0a0a;
}

.output__error {
  font-weight: 700;
  color: #9b0606;
}

.output p {
  font-weight: 700;
}

.output hr {
  margin: 1em 0;
}

.output__button {
  text-decoration: none;
  display: inline-block;
  padding: 0.3em 1em;
  margin: 0 1.2em;
  position: relative;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: none;
  font-weight: 700;
  font-size: 1.3em;
  cursor: pointer;
  width: 5em;
  height: 2em;
}
.output__button:before,
.output__button:after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  box-sizing: border-box;
}
.output__button:before {
  bottom: 0;
  left: 0;
  border-left: 1px solid white;
  border-top: 1px solid white;
  transition: 0s ease opacity 0.8s, 0.2s ease width 0.4s, 0.2s ease height 0.6s;
}
.output__button:after {
  top: 0;
  right: 0;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  transition: 0s ease opacity 0.4s, 0.2s ease width, 0.2s ease height 0.2s;
}
.output__button:hover:before,
.output__button:hover:after {
  height: 100%;
  width: 100%;
  opacity: 1;
}
.output__button:hover:before {
  transition: 0s ease opacity 0s, 0.2s ease height, 0.2s ease width 0.2s;
}
.output__button:hover:after {
  transition: 0s ease opacity 0.4s, 0.2s ease height 0.4s, 0.2s ease width 0.6s;
}
.output__button:hover {
  background: rgba(255, 255, 255, 0.2);
  color: #c00909;
}

.output__wrapper > * {
  margin-top: 0.5em;
}

@media screen and (max-width: 417px) {
  .output__result span {
    display: block;
    margin: 10px auto;
    width: 100px;
  }

  .output__wrapper {
    justify-content: center;
    align-items: center;
  }

  .output__button {
    margin: 10px auto;
    display: block;
  }

  .output__caption {
    margin-top: 0;
  }
}
